@{
    ViewBag.Title = "WebStor";
}

<div class="jumbotron">
    @{
        if (DBModel.Helpers.СonfigHelper.Configured) { Html.RenderPartial("_Welcome"); }
        else { Html.RenderPartial("_NotConfig"); }
    }
</div>

<div class="row">
    <div class="col-md-4">
   
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
 
    </div>
</div>