@model WebApp.Models.DocumentModel
<tr>
    <td>
        @Html.DisplayFor(Model => Model.Name)
    </td>
    <td>
        @Html.DisplayFor(Model => Model.OriginalFileName)
    </td>
    <td>
        @Html.DisplayFor(Model => Model.Date)
    </td>
    <td>
        <a href="@Url.Action("Download", new { path = Model.Path, originalFileName = Model.OriginalFileName })" class="btn btn-warning">
            <span class="glyphicon glyphicon-download-alt pull" aria-hidden="true"></span>
        </a>
        @*@Html.ActionLink("Скачать", "Download", new { path = Model.Path, originalFileName = Model.OriginalFileName })*@
    </td>
</tr>

